<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
</head>
<body>

<div th:fragment="content" >
  <script th:src="@{/js/main.js}"></script>
  <div class="" style="width: 90em">
    <div class="page-title pb-3">
      <h2 th:utext="${pageTitle}">Title</h2>
    </div>
    <div class="action-buttons">
      <button type="button" class="btn btn-outline-primary">
        <a th:href="@{'create '}">Создать пользователя</a>
      </button>
    </div>

    <div class="table-responsive mt-3">
      <table id="data-table" class="table table-striped table-bordered table-hover font-size-default">
        <thead id="table-head">
        <tr>
          <th class="counter-column min-col-width nosort">№</th>
          <th title="Логин для входа в систему">Login</th>
          <th title="Email также можно использовать для входа в систему">Email</th>
          <th title="Идентификатор для авторизации через внешнюю систему">External ID</th>
          <th title="Включение/отключение учётной записи">Enabled</th>
          <th class="nosort" title="Роли в системе">Roles</th>
          <th class="edit-column nosort min-col-width" title="Редактирование"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></th>
          <th class="delete-column nosort min-col-width" title="Удаление из БД"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></th>
        </tr>
        </thead>
        <tbody id="table-body" about="api">
        <!--/*@thymesVar id="users" type="java.util.List<ru.fenix2k.PhoneBook.Security.Entity.User>"*/-->
        <tr th:each ="entity : ${entities}">
          <td class="counter" ></td>
          <td th:utext="${entity.login}" ></td>
          <td th:utext="${entity.email}" ></td>
          <td th:utext="${entity.externalId}" ></td>
          <td th:utext="${entity.enabled?'Да':'Нет'}" ></td>
          <td >
            <th:block th:each ="role : ${entity.roles}">
              <span th:utext="${role.name}"></span><br/>
            </th:block>
          </td>
          <td>
            <a class="edit-action" th:href="@{'edit/' + ${entity.id}}">
              <i class="fa fa-pencil fa-lg" aria-hidden="true" ></i>
            </a>
          </td>
          <td>
            <a class="delete-action" th:href="@{'delete/' + ${entity.id}}">
              <i class="fa fa-trash fa-lg" aria-hidden="true" ></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>